<script lang="ts">
	// The ordering of these imports is critical to your app working properly
	import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
	// If you have source.organizeImports set to true in VSCode, then it will auto change this ordering
	import '@skeletonlabs/skeleton/styles/all.css';
	// Most of your app wide CSS should be put in this file
	import '../app.postcss';
	import { AppShell } from '@skeletonlabs/skeleton';
	import { fade } from 'svelte/transition';

	export let data;
	$: ({pathname} = data)
</script>

<!-- App Shell -->
<AppShell>
	{#key pathname}
		<div transition:fade>
			<slot />
		</div>
	{/key}
</AppShell>
