<script>
	import { goto } from '$app/navigation';
    import { onMount } from 'svelte';

    onMount(() => {
        setTimeout(() => {
            goto('/site');
        }, 2000);
    });
</script>

<div class="w-screen h-screen pulsate">
    <div class="absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
        <h1 class="text-3xl text">
            Chargement...
        </h1>
    </div>
</div>

<style>
    .text {
        animation: fading 5s ease-out;
        animation-iteration-count: infinite;
    }

    @keyframes fading {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .pulsate {
        /* pulsating background for loading */
        animation: pulsate 5s ease-out;
        animation-iteration-count: infinite;
        background-image:
			radial-gradient(at 0% 0%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent 50%),
			radial-gradient(at 98% 1%, rgba(var(--color-error-500) / 0.33) 0px, transparent 50%);
        background-size: 200% 100%;
        background-position: 0 0;
    }

    @keyframes pulsate {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 50% 0;
        }
        100% {
            background-position: 0% 0;
        }
    }
</style>